@import 'awesome_tooltip/tooltip';

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .tooltip {
    height: 20px;
  }
}
