@import 'awesome_tooltip/tooltip';
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}


a {
  color: #000;
  text-decoration: none;
}

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 50px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, .3);
  padding: 0 20px;

  .title {
    font-size: 28px;
    font-weight: 700;
  }

  .navigation {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;

    li {
      padding: 0 10px;

      a {
        transition: 0.5s;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 900;

        &:hover, &.active {
          transition: 0.5s;
          color: rgba(0, 0, 0, .7);
        }
      }
    }
  }
}

section.projects {
  padding: 10px 30px;

  & > .actions {
    display: flex;
    justify-content: flex-end;
  }

  table {
    width: 100%;
    border-spacing: 0;

    th {
      text-align: left;
      font-size: 18px;
    }

    th, td {
      padding: 10px 15px;
      border-bottom: 1px solid #ddd;
    }

    .name {
      width: 450px;
    }

    .actions {
      width: 100px;
      text-align: right;

    }
  }
}

section.project-form {
  width: 400px;
  margin: 50px auto 0;

  form {
    margin-bottom: 15px;
  }

  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label {
      margin-bottom: 5px;
    }

    input, textarea {
      padding: 5px 10px;
    }

    textarea {
      min-height: 100px;
    }
  }

  input[type='submit'] {
    padding: 5px 50px;
  }
}

section.tooltips {
  .tooltip {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-left: 0px;
    margin-top: 0px;
  }

  .project {
    padding: 10px;
    min-width: 200px;
  }
}
