<% content_for :tooltips_active, 'active' %>

<section class="tooltips">
  <div class="container">
    <div class="tooltip">
      <span class="awesome_tooltip"
            data-template="project"
            data-object="project-1"
      >
        Some text
      </span>
    </div>
    <span class="awesome_tooltip"
          data-template="test_template"
    >
      Some text
    </span>
  </div>
</section>
