.awesome-tooltip-wrapper {
  position: relative;
  cursor: pointer;

  .awesome-tooltip {
    position: absolute;
    background-color: #fff;
    cursor: auto;

    &.hidden {
      display: none;
    }

    &.top {
      bottom: calc(100% + 10px);

      .content-wrapper .triangle {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
        top: 100%;
      }
    }

    &.bottom {
      top: calc(100% + 10px);

      .content-wrapper .triangle {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        bottom: 100%;
      }
    }

    &.left {
      right: calc(100% + 10px);

      .content-wrapper .triangle {
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        border-left: 10px solid #fff;
        left: 100%;
      }
    }

    &.right {
      left: calc(100% + 10px);

      .content-wrapper .triangle {
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        border-right: 10px solid #fff;
        right: 100%;
      }
    }

    .content-wrapper {
      position: relative;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
      padding: 5px 10px;
      border-radius: 5px;

      .triangle {
        position: absolute;
        width: 0;
        height: 0;
        z-index: 3;
      }
    }
  }
}
