.awesome-tooltip-wrapper {
  position: relative;

  .awesome-tooltip {
    position: absolute;

    &.top {
      bottom: calc(100% + 15px);
      left: -50%;
    }

    .content-wrapper {
      position: relative;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
      padding: 5px 10px;
      border-radius: 5px;

      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
        top: 100%;
        left: calc(50% - 10px);
        z-index: 3;
      }
    }
  }
}
